<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="father">
    <header class="info-location">
      <p class="city"><%= result.location.name %></p>
      <p class="country"><%= result.location.country %></p>
    </header>

    <main class="info-weather">
      <p class="weather"><%= result.current.condition.text %></p>
      <img class="img-weather" src="<%= result.current.condition.icon %>" alt="">
    </main>

    <footer class="sub-info-weather">
      <p class="humidity"><%= result.current.humidity %>%</p>
      <p class="temp"><%= result.current.temp_c %>°</p>      
      <p class="wind-mph"><%= result.current.wind_mph %>mph</p>
    </footer>
  </div>
  <script src="/js/script.js"></script>
</body>

</html>